{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1>Welcome to Digital Business Technology Program</h1>
    </div>
    <p>
        <b>Every business is a digital one. </b>
        At least, that’s the premise of a digital business technology
        platform. Here’s the idea: In some ways, every company is a software
        company because companies today must function in ways that many
        software or technology firms do. by the way, we can help you for
        transform to the digital business.

        <br><br><br>
    </p>
{% endblock %}