<br><br><br>
<ul class="list-group">
    <li class="list-group-item active">
        <i class="fa fa-list"></i> Menu:
    </li>
    <li class="list-group-item">
        <a href="{% url 'home' %}">
            {#{% url=’home’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'subjectProfile' %}">
            {#{% url=’subjectProfile’ %} อาจมาพิมพ์ทีหลังก็ได้ เนื่องจากยังไม่ได้สร้าง router ไว้ .. ไม่ต้องพิมพบ์ รรทดันี้#}
            <i class="fa fa-book"></i> Subject
        </a>
    </li>
</ul>
<br><br><br><br>